.add-new-item-btn {
    background-color: #e9bd6b;
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
}

.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(244, 209, 135, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(182, 106, 26, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
}

.table>thead {
    vertical-align: baseline;
}

.img-box {
    width: 10%;
}
.update-btn-icon{
    background-color: #e9bd6b;
}
.delete-btn-icon{
    background-color: #d10e0e;
    color: #e2e8ee;
}

.swal-footer{
    text-align: center;
}
.swal-button--Cancel{
   background-color: #870808;
}
.swal-button--Cancel:not([disabled]):hover {
    background-color: #870808;
}