.banner {
    background-image: url('https://previews.123rf.com/images/nitr/nitr1612/nitr161200042/69248220-diverses-%C3%A9pices-sur-fond-en-bois-vue-de-dessus-avec-espace-copie-banni%C3%A8re.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
}

.banner div {
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.banner h2,
h4 {
    color: #d07c1d;
    text-shadow: 0 0 1px black;
}

.banner-btn {
    background-image: linear-gradient(45deg, rgba(128, 0, 0, 0.712), rgba(184, 9, 9, 0.723), rgba(255, 166, 0, 0.729));
    border: none;
    color: white;
    width: 200px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}


@media only screen and (max-width:576px) {
    .banner div {
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.181), rgba(0, 0, 0, 0));
    }

    .banner h2,
    h4 {
        color: white;
        text-shadow: 0 0 5px black;
    }
}

@media only screen and (min-width:576px) and (max-width:992px) {
    .banner div {
        padding-top: 20%;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.137), rgba(0, 0, 0, 0));
    }

    .banner h2,
    h4 {
        color: white;
        text-shadow: 0 0 5px black;
    }
}